.hamburger-menu {
    display: none;
    cursor: pointer;
    padding: 10px;
    color: black;
  }
  
  .hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    transition: 0.4s;
  }
  
  .bar.open:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .bar.open:nth-child(2) {
    opacity: 0;
  }
  
  .bar.open:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  #responsive_menu {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: auto;
    right: 0;
    width: 100%;
    background: #333;
    color: white;
    text-align: center;
    z-index: 99;
  }
  
  #responsive_menu li {
    padding: 15px 0;
  }
  
  #responsive_menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
  }
  
  #responsive_menu.show {
    display: block;
  }
  
  #responsive_menu.hide {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .hamburger-menu {
      display: block;
    }
  }
  