.HeroSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -100px;
}

.hero-text {
    text-align: left;
    line-height: 1px;
    padding: 40px;
}

.hero-name {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
}

.hero-name h1 {
    font-size: 2rem;
}

.role-description {
    color: #823422; 
    font-size: 1.5em;
    margin-top: 7px;
    word-break: break-word;
    white-space: normal; 
    line-height: 1.2em; 
}
.cta {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  /* font-family: ITCAvantGardeStd-Bk,Arial,sans-serif; */
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.cta:focus {
  text-decoration: none;
}

.cta:hover {
  text-decoration: none;
}

.cta:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.cta:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .cta {
    padding: 12px 50px;
  }
}
.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img img {
    width: 600px;
    margin-right: 100px;
}

.social-media,.social-media-other {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background-color: #fcfcdd;
    padding: 10px;
    border-radius: 5px;
}

.social-media-other{
    display: none;
}

.line {
    height: 90%;
    width: 3px;
    border-radius: 10px;
    background-color: #823422;
    margin-bottom: 10px;
}

.social-media img, .social-media-other img {
    width: 30px;
    height: 30px;
    margin: 5px 0;
    transition: transform 0.3s;
}

.social-media img:hover, .social-media-other img:hover {
    transform: scale(1.2);
}

.social-icon {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 786px) {
    .HeroSection {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    
    .hero-text {
        padding: 20px;
    }
    .hero-img{
        margin: 0 auto;
        justify-content: center;
        margin: 20px 0;
        /* background-color: aquamarine; */
    }
    .hero-img img {
        width: 100%;
        max-width: 600px; 
        margin: 0; 
        margin-top: 20px;
    }
    .social-media{
        display: none;
    }
    .social-media-other{
        display: block;
        flex-direction: row;
        margin: 0 auto;
    }
    .social-media-other img{
        margin: 0 5px;
    }
}
