.project-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 500px;
  transition: transform 0.3s, box-shadow 0.3s;
}
  
.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
  
.project-card img {
  width: 100%;
  height: auto;
}
  
.project-card .content {
  padding: 1rem;
}
  
.project-card .content h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}
  
.project-card .content p {
  margin: 0.5rem 0;
  color: #666;
}
  
.project-card .content a {
  display: inline-block;
  margin-right: 0.5rem;
  text-decoration: none;
  color: #007bff;
}
  
.project-card .content a:hover {
  text-decoration: underline;
}
.container .card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  /* background: #000; */
  border-radius: 15px;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}
.container .card .face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .card .face.face1 {
  box-sizing: border-box;
}
.container .card .face.face1 .content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.links{
  display: flex;
  flex-direction: column;
}
.links a{
  padding: 5px 10px;
  background-color: #1b1818;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
}
.container .card .face.face1 .content img {
  top: 0;
  margin-top: 0;
  width: 200px;
  height: 200px;
}
.container .card .face.face1 h2 {
  margin: 0;
  padding: 0;
}
.container .card .face.face2 {
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  overflow: hidden;
  background: #7F301F;
  border-radius: 15px;
  /* background: linear-gradient(90deg, rgba(30,6,1,1) 0%, rgba(247,199,31,1) 35%, rgba(214,182,0,1) 100%); */
}
.container .card .face.face2 img {
  /* margin-top: -10px; */
  object-fit: cover;
  width: 300px;
  height: 200px;
}
.container .card .face.face2 h2 {
  margin: 0;
  padding: 0;
  color: #fff;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.container .card .face.face2 p {
  margin-top: -10px;
  font-size: 0.7rem;
  padding: 20px;
  color: #c2c1c1;
  text-align: justify;
}
.container .card:hover .face.face2 {
  height: 60px;
}
.container .card:hover .face.face2 h2 {
  font-size: 2em;
}
.container .card:hover .face2 {
  margin-top: 0;
}
.container .card:hover .face2 img {
  display: none;
}
.container .card:hover .face2 p {
  display: none;
}