.App {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.section {
  padding: 4rem 1rem;
  /* text-align: center; */
}

.section h1 {
  /* color: #FFDD57; */
  margin-bottom: 1rem;
}

.skills {
  position: relative;
  padding: 2rem 1rem;
  text-align: start;
}
.skills h1{
  margin-left: 20px;
}
.skills h1::after {
  content: '';
  position: absolute;
  width: 0; 
  margin-top: 10px;
  margin-left: 10px;
  height: 3px;
  border-radius: 10px;
  background-color: chocolate;
  transition: width 1s ease-out; 
}

.skills.in-view h1::after {
  width: 50%; 
}

.projects {
  
}


.skills-list, .projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skill{
  display: flex;
  align-items: center;
  margin: 10px;
  background-color: #fcfcdd;
  padding: 10px;
  border-radius: 5px;
}
.skill img{
  margin-right: 15px;
}
.project {
  margin: 1rem;
  text-align: center;
}

.skill-icon {
  width: 50px;
  height: 50px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
